body
{
    background-color: #f2eee3;
    font-family: "open sans",sans-serif;
}
h1
{
   padding:40px;
   text-align:center ;
   font-size: 1.5em; 
}
li a
{
    text-decoration: none;color: #2d2f31;
}
